@font-face {
    font-family: 'barlow_condensedblack';
    src: url('barlowcondensed-black-webfont.woff2') format('woff2'),
         url('barlowcondensed-black-webfont.woff') format('woff'),
         url('barlowcondensed-black-webfont.svg#barlow_condensedblack') format('svg');
    font-weight: normal;
    font-style: normal;

}

header{
	background-color: rgb(28, 0, 173);
	height: 5em;
	position: relative;
}

.headerLink{
	color: white;
	position: absolute;
	top: 50%;
	transform: translate(0,-50%);
	
	font-family: 'barlow_condensedblack', Arial, sans-serif;
	text-decoration: none;
	transition: all 0.5s ease;
}

.headerLink:hover{
	color: black;
}

#headerLink1{
	right:13em;
}
#headerLink2{
	right:7em;
}
#headerLink3{
	right:2em;
}

#headerIcon{
	color: white;
	position: absolute;
	top: 50%;
	transform: translate(0,-50%);
	left: 4em;
	font-size: 2.5em;
}

footer{
	bottom:0em;
	background: lightgrey;
	line-height: 1.5em;
}

.footerLink{
	color: black;
	font-family: 'barlow_condensedblack', Arial, sans-serif;
	text-decoration: none;
	transition: all 1s ease;
	padding: 1em;
	font-weight: 900;
}

.footerText{
	color: black;
	font-family: 'barlow_condensedblack', Arial, sans-serif;
	padding-left: 1em;
}
#emailAddress{
	color: rgb(28, 0, 173);
	font-style: italic;
}
.footerLink:hover{
	color: rgb(28, 0, 173);
}

.contactForm{
	position: relative;
	font-family: 'barlow_condensedblack', Arial, sans-serif;
	padding:2em;
	height: 17em;
}

#contactTitle{
	top:5%;
	font-size: 2.5em;
	font-weight: 300;
}

.contactInput{
	position: absolute;
	left:50%;
	transform: translateX(-50%);
}

#nameLableInput{
	top:25%;
	width: 60%;
}

#emailLableInput{
	top:35%;
	width: 60%;
}

#messageLableInput{
	top: 45%;
	width: 60%;
}
#bigBox{
	width:100%;
	height:8em;
	resize: none;
}
#submitButton{
	width: 20%;
	height: 10%;
	top:85%;
	border: 2px solid rgb(28, 0, 173);
	background-color: white;
	font-size: 1.2em;
	font-weight: 200;
	color:  rgb(28, 0, 173);
	transition: all 1s ease;
}

#submitButton:hover{
	background-color: grey;
	border: 1px solid rgb(28, 0, 173);
}

.textBox{
	border: 1px solid rgb(28, 0, 173);
	width: 80%;
	font-weight: 400;
}

.pageTitle{
	height:5em;
	position: relative;
}

#projectsTitle{
	position: absolute;
	top:20%;
	left:50%;
	transform: translateX(-50%);
	z-index: 1000;
	font-size: 3.5em;
	font-weight: 600;
}

.sectionTitleHead{
	position: relative;
	height: 4em;
}

.sectionTitle{
	position: absolute;
	font-size: 2em;
	font-weight: 400;
	left:50%;
	top: 30%;
	transform: translateX(-50%);
}

#lociSection{
	position: relative;
}
#lociLogo{
	width: 45%;
}
#lociText{
	position: absolute;
	width:45%;
	right: 5%;
	font-family: 'barlow_condensedblack', Arial, sans-serif;
	top:50%;
	transform: translateY(-50%);
	font-size: 1.2em;
}

#conkySection{
	position: relative;
	height:39em;
}
#conkyLogo{
	right:5%;
	position: absolute;
}
#conkyText{
	position: absolute;
	width:45%;
	left: 5%;
	font-family: 'barlow_condensedblack', Arial, sans-serif;
	top:50%;
	transform: translateY(-50%);
	font-size: 1.2em;
}

#mainTitle{
	height: 8em;
	position: relative;
}

#mainTitleText{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	font-size: 3em;
	font-weight: 500;
	top: 0.5em;
}

#portraitSection{
	height: 25em;
}

#portrait{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	height: 20em;
}

#educationSection{
	position: relative;
	height:20em;
}

#bulldogImg{
	height:15em;
	position: absolute;
	left: 5%;
}

#bulldogText{
	position: absolute;
	width: 40%;
	left: 55%;
	font-size: 1.2em;
	font-family: 'barlow_condensedblack', Arial, sans-serif;
}

#languageSection{
	position: relative;
	height: 30em;
}

#langaugeTitle{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	font-size: 2.5em;
	font-weight: 300;
	top: 0.5em;
}

#flexLanguageContainer{
	width: 90%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	position: absolute;
	top: 6em;
}

.languageBox{
	width: 5em;
	height: 2.5em;
	background-color: rgb(28, 0, 173);
	text-align: center;
	padding-top: 2.0em;
	color: white;
	font-size: 2em;
	border: 2px solid white;
	font-family: 'barlow_condensedblack', Arial, sans-serif;
	transition: all 1s ease;
}

.languageBox:hover{
	color: black;
	font-size: 3em;
}


@media screen and (max-width: 768px) {

	#headerIcon{
		left: 1em;
	}
	#lociSection{
		height: 30em;
	}
	#lociLogo{
		width: 45%;
		position: absolute;
		left:50%;
		top: 0%;
		transform: translateX(-50%);
	}
	#lociText{
		left:50%;
		top: 50%;
		width: 60%;
		transform: translateX(-50%);
	}

	#conkySection{
		height:69em;
	}
	#conkyLogo{
		width: 45%;
		position: absolute;
		left:50%;
		top: 0%;
		transform: translateX(-50%);
	}
	#conkyText{
		left:50%;
		top: 80%;
		width: 60%;
		transform: translateX(-50%);
	}
	#languageSection{
	position: relative;
	height: 85em;
	}

	#flexLanguageContainer{
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	}

	.languageBox{
		width: 80%
	}

	#educationSection{
		position: relative;
		height:30em;
	}

	#bulldogImg{
		position: absolute;
		left: 50%;
		top:0%;
		transform: translateX(-50%);
	}

	#bulldogText{
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		top: 60%;
	}
	.contactForm{
		height: 24em;
	}
	.textBox{
		width:100%;
	}
	#contactTitle{
	font-size: 2em;
	}
	#submitButton{
		font-size: 0.8em;
	}

}